/*Animations loading-spinner*/
@-webkit-keyframes breath {
  0% {
    color: black;
  }
  50% {
    color: #141414;
    text-shadow: 0 0 1rem rgba(220, 220, 220, 0.8);
  }
  100% {
    color: black;
  }
}
@keyframes breath {
  0% {
    color: black;
  }
  50% {
    color: #141414;
    text-shadow: 0 0 1rem rgba(220, 220, 220, 0.8);
  }
  100% {
    color: black;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/*Animation menus*/
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slide-up-card-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-up-card-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.loading {
  font-family: sans-serif;
  font-size: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-out 0.5s 3s linear forwards;
          animation: fade-out 0.5s 3s linear forwards;
  z-index: 1;
}

.loading__logo {
  margin-bottom: 1em;
  font-family: shrikhand, sans-serif;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading__letter {
  -webkit-animation: breath 1.5s linear infinite;
          animation: breath 1.5s linear infinite;
}

.loading__letter:nth-of-type(2n) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading__letter:nth-of-type(3n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading__letter:nth-of-type(4n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loading__letter:nth-of-type(5n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading__letter:nth-of-type(6n) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading__letter:nth-of-type(7n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading__letter:nth-of-type(8n) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loading__spinner {
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
}

.menu__entrees, .menu__plats, .menu__desserts {
  -webkit-animation: slide-up 1.5s ease-out;
          animation: slide-up 1.5s ease-out;
}

.card-menu {
  -webkit-animation: slide-up-card-menu ease-out;
          animation: slide-up-card-menu ease-out;
}

.card-menu:nth-of-type(1n) {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.card-menu:nth-of-type(2n) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.card-menu:nth-of-type(3n) {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.pied-page {
  padding: 20px;
  background-color: #272727;
}

.pied-page .logo--footer {
  margin-bottom: 25px;
  color: white;
  font-size: 18px;
}

.pied-page__liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pied-page a {
  color: green;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pied-page a:hover {
  text-decoration: underline;
}

.pied-page .fa-utensils {
  margin-right: 14px;
}

.pied-page .fa-handshake-angle {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .pied-page__groupe {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1400px;
    margin: auto;
  }
  .pied-page__liens {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 800;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

p {
  margin: 0;
}

i {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: shrikhand, sans-serif;
  font-weight: 100;
}

.btn-primary {
  padding: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
          box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 1;
  -webkit-transition: opacity ease .25s, -webkit-box-shadow ease .25s;
  transition: opacity ease .25s, -webkit-box-shadow ease .25s;
  transition: opacity ease .25s, box-shadow ease .25s;
  transition: opacity ease .25s, box-shadow ease .25s, -webkit-box-shadow ease .25s;
}

.btn-primary:hover {
  opacity: 0.85;
  -webkit-box-shadow: 3px 3px 12px rgba(32, 32, 32, 0.9);
          box-shadow: 3px 3px 12px rgba(32, 32, 32, 0.9);
  -webkit-transition: opacity ease .5s, -webkit-box-shadow ease 1s;
  transition: opacity ease .5s, -webkit-box-shadow ease 1s;
  transition: opacity ease .5s, box-shadow ease 1s;
  transition: opacity ease .5s, box-shadow ease 1s, -webkit-box-shadow ease 1s;
}

.fa-heart {
  font-size: 25px;
  color: #646464;
  -webkit-transition: -webkit-transform cubic-bezier(0.23, 1.66, 0.75, -0.68) 0.8s;
  transition: -webkit-transform cubic-bezier(0.23, 1.66, 0.75, -0.68) 0.8s;
  transition: transform cubic-bezier(0.23, 1.66, 0.75, -0.68) 0.8s;
  transition: transform cubic-bezier(0.23, 1.66, 0.75, -0.68) 0.8s, -webkit-transform cubic-bezier(0.23, 1.66, 0.75, -0.68) 0.8s;
  cursor: pointer;
}

.fa-heart:hover {
  font-weight: 700;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.en-tete {
  -webkit-box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
          box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
  position: relative;
}

.logo--header {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.lieu {
  padding-top: 14px;
  padding-bottom: 4px;
  color: #272727;
  background-color: #e6e6e6;
}

.lieu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.lieu .fa-location-dot {
  margin-right: 10px;
}

.lieu .lieu__recherche {
  padding: 10px 0 10px 0;
  border: none;
  font-weight: 700;
  width: 125px;
}

.explorer {
  padding: 10px 20px 70px;
  background-color: whitesmoke;
  text-align: center;
}

.explorer h2 {
  padding-left: 25px;
  padding-right: 25px;
}

.explorer h3 {
  margin-bottom: 45px;
}

.fonctionnement {
  padding: 20px;
  margin-bottom: 30px;
}

.fonctionnement h2 {
  margin-top: 25px;
  margin-bottom: 30px;
}

.card-fct {
  padding: 25px 15px 25px 40px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
          box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
  background-color: whitesmoke;
  font-weight: 700;
  position: relative;
}

.card-fct .card-fct__numero {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-weight: 400;
  position: absolute;
  left: -10px;
  top: 20px;
}

.card-fct i {
  margin-right: 20px;
  color: #646464;
  position: relative;
  top: 1px;
}

.card-fct:hover {
  background-color: #ece3f8;
}

.card-fct:hover i {
  color: #9356DC;
}

.restaurants {
  padding: 20px;
  background-color: whitesmoke;
}

.card-resto {
  position: relative;
  width: 100%;
}

.card-resto__figure {
  margin: 0 0 20px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
          box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
  background-color: white;
  position: relative;
}

.card-resto img {
  border-radius: 15px 15px 0 0;
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 65%;
     object-position: 0 65%;
}

.card-resto--nouveau::before {
  content: "Nouveau";
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #79dfa7;
  color: #1f804f;
  font-weight: 700;
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-resto figcaption {
  margin: 10px;
  padding-bottom: 10px;
}

.card-resto__texte p {
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-resto__coeur i {
  position: absolute;
  top: 200px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .restaurants__groupe {
    padding-left: 8rem;
    padding-right: 8rem;
    max-width: 1400px;
    margin: auto;
  }
  .restaurants__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card-resto {
    margin: 20px;
    width: 400px;
  }
}

@media screen and (min-width: 992px) {
  .fonctionnement {
    margin-right: 4rem;
    width: 30%;
  }
  .restaurants {
    width: 60%;
  }
}

.menu-resto__photo img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu-resto__plats {
  padding: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: whitesmoke;
  margin-top: -50px;
}

.menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__titre h1 {
  font-family: shrikhand, sans-serif;
  font-size: 26px;
}

.menu__sous-titre {
  text-transform: uppercase;
  width: 45px;
  height: 30px;
  border-bottom: 3px solid #99E2D0;
}

.menu__btn {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.menu__btn .btn-primary {
  padding-left: 50px;
  padding-right: 50px;
}

.card-menu {
  margin-bottom: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
          box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card-menu__description {
  margin-right: -70px;
  overflow: hidden;
  -webkit-transition: margin-right linear 0.4s;
  transition: margin-right linear 0.4s;
}

.card-menu__description h4 {
  padding: 15px 5px 5px 15px;
}

.card-menu__description p {
  padding: 0px 5px 10px 15px;
  font-size: 15px;
}

.card-menu__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translate(65px);
          transform: translate(65px);
  -webkit-transition: -webkit-transform ease-in-out 0.4s;
  transition: -webkit-transform ease-in-out 0.4s;
  transition: transform ease-in-out 0.4s;
  transition: transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
}

.card-menu__prix p {
  padding: 15px 20px 12px 5px;
  font-weight: 700;
}

.card-menu__prix .check_background {
  padding: 25px 20px 22px 20px;
  background-color: #99E2D0;
}

.card-menu__prix i {
  color: white;
  font-size: 22px;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
  -webkit-transition: -webkit-transform ease-out 0.4s 0.2s;
  transition: -webkit-transform ease-out 0.4s 0.2s;
  transition: transform ease-out 0.4s 0.2s;
  transition: transform ease-out 0.4s 0.2s, -webkit-transform ease-out 0.4s 0.2s;
}

.card-menu:hover .card-menu__prix {
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.card-menu:hover i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.card-menu:hover .card-menu__description {
  margin-right: 0px;
}

.text-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=main.css.map */