.btn-primary{
    padding: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
    color: white;
    background : $gradient-primary;
    opacity: 1;
    transition: opacity ease .25s, box-shadow ease .25s;

    &:hover{
        opacity: 0.85;
        box-shadow: 3px 3px 12px rgba(32, 32, 32, 0.9);
        transition: opacity ease .5s, box-shadow ease 1s;
    }
}

/* Bouton coeur */
.menu__coeur{
    cursor: pointer;

    .fa-heart{
        font-size: 25px;
        color: $color-bg-middle-dark;
        position: relative;
        left: 20px;
    }
    .fa-heart-color{
        font-weight: 700;
        color: transparent;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        background-clip: text;
        transform: scale(0);
        position: relative;
        left: -9px;
        transition: transform ease-in-out 0.4s;
        
    }
    &:hover .fa-heart-color{
        transform: scale(1.1);
        transition: transform ease-in-out 0.2s;
    }
}

.card-resto__coeur{
    cursor: pointer;

    .fa-heart{
        font-size: 25px;
        color: $color-bg-middle-dark;
        position: absolute;
        top: 200px;
        right: 15px;
    }
    .fa-heart-color{
        font-weight: 700;
        color: transparent;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        background-clip: text;
        transform: scale(0);
        z-index: 10;
        transition: transform ease-in-out 0.4s;
        
    }
    &:hover .fa-heart-color{
        transform: scale(1.1);
        transition: transform ease-in-out 0.2s;
    }
}