.btn-primary{
    padding: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5);
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
}
