* {
    box-sizing: border-box;
}

body{
    font-family: $font-primary;
}

h2{
    font-size: 25px;
    font-weight: 800;
}

h3{
    font-size: 18px;
    font-weight: 300;
}

h4{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

i{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    font-family: $font-logo;
}