.en-tete{
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
    position: relative;
}

.logo--header{
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    
}

.lieu{
    padding-top: 14px;
    padding-bottom: 4px;
    color: $color-bg-dark;
    background-color: $color-bg-middle;

    form{
        @include flex-cb;
    }
    .fa-location-dot{
        margin-right: 10px;
    }
    .lieu__recherche{
        padding: 10px 0 10px 0;
        border: none;
        font-weight: 700;
        width: 125px;
    }
}

.explorer{
    padding: 10px $padding-page 70px;
    background-color: $color-bg-light;
    text-align: center;
    h2{
        padding-left: 25px;
        padding-right: 25px;
    }
    h3{
        margin-bottom: 45px;
    }
}

.fonctionnement{
    padding: $padding-page;
    margin-bottom: 30px;
    
    h2{
        margin-top: 25px;
        margin-bottom: 30px;
    }
}

.card-fct{
    padding: 25px 15px 25px 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
    background-color: $color-bg-light;
    font-weight: 700;
    position: relative;

    .card-fct__numero{
        padding: 5px 10px;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        font-weight: 400;
        position: absolute;
        left: -10px;
        top: 20px;
    }
    i{
        margin-right: 20px;
        color: $color-bg-middle-dark;
        position: relative;
        top: 1px;
    }
    &:hover{
        background-color: $color-primary-light;
        i{
            color: $color-primary;
        }
    }
}

.restaurants{
    padding: $padding-page;
    background-color: $color-bg-light;
}

.card-resto{
    position: relative;
    width: 100%;

    &__figure{
        margin: 0 0 20px 0;
        border-radius: 15px;
        box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
        background-color: white;
        position: relative;
    }
    img{
        border-radius: 15px 15px 0 0;
        height: 180px;
        width: 100%;
        object-fit: cover;
        object-position: 0 65%;
    }
    &--nouveau::before{
        @include pastille-nouveau;
    }
    figcaption{
        margin: 10px;
        padding-bottom: 10px;
    }
    &__texte p{
            margin-top: 5px;
            margin-bottom: 0;
            padding-bottom: 0;
    }
    &__coeur i{
        font-size: 25px;
        color: $color-bg-middle-dark;
        position: absolute;
        top: 200px;
        right: 15px;     
        &:hover{
            font-weight: 700;
            color: red;
            cursor: pointer;
        }
    }
}



@media screen and (min-width: $break-point-mobile){

    .restaurants{
        &__groupe{
            padding-left: 8rem;
            padding-right: 8rem;
            max-width: 1400px;
            margin: auto;
        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
    }

    .card-resto{
        margin: 20px;
        width: 400px;
        
    }
}

@media screen and (min-width: $break-point-tablet){
    
    .fonctionnement{
       
        margin-right: 4rem;
        width: 30%;
    }

    .restaurants{
       
        width: 60%;
    }
}