.menu-resto{

    &__photo img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
    &__plats{
        padding: $padding-page;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $color-bg-light;
        margin-top: -50px;
    }
}

.menu{
    
    &__titre{  
        @include flex-sb;

        h1{
            font-family: $font-logo;
            font-size: 26px;
        }
    }
    
    &__coeur i{
        font-size: 25px;
        color: $color-bg-middle-dark;    
        &:hover{
            font-weight: 700;
            color: red;
            cursor: pointer;
        }
    }

    &__sous-titre{
        text-transform: uppercase;
        width: 45px;
        height: 30px;
        border-bottom: 3px solid $color-tertiary;
    }

    &__btn{
        margin-top: 60px;
        margin-bottom: 50px;
        text-align: center;
        .btn-primary{
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.card-menu{
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.2);
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    &__description{
        margin-right: -70px;
        overflow: hidden;
        transition: margin-right linear 0.4s;
        h4{
            padding: 15px 5px 5px 15px;
        }
        p{
            padding: 0px 5px 10px 15px;
            font-size: 15px;
        }
    }
    &__prix{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transform: translate(65px);
        transition: transform ease-in-out 0.4s;

        p{
            padding: 15px 20px 12px 5px;
            font-weight: 700;
        }
        .check_background{
            padding: 25px 20px 22px 20px;
            background-color: $color-tertiary;
        }
        i{
            color: white;
            font-size: 22px;
            transform: rotate(0.5turn);
            transition: transform ease-out 0.3s 0.2s;
        }
    }
    &:hover .card-menu__prix{
        transform: translate(0px);
    }
    &:hover i{
        transform: rotate(0);
    }
    &:hover .card-menu__description{
        margin-right: 0px; 
    }

}

.text-hidden{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}