$break-point-mobile: 768px;
$break-point-tablet: 992px;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-primary-light: #ece3f8;

$color-bg-dark: rgb(39, 39, 39);
$color-bg-middle-dark: rgb(100, 100, 100);
$color-bg-middle: rgb(230, 230, 230);
$color-bg-light: rgb(245, 245, 245);

$font-logo: shrikhand, sans-serif;
$font-primary: roboto, sans-serif;

$padding-page: 20px;